

.jumbotron{
    background: rgb(248, 244, 244);
    width : 70%;
    margin-top: 200px;
    margin-left:20%;
    margin-bottom: 100px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;

    
}




